body {
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  #1F2937;
  color: white;
}

ul {
    display: flex;
    list-style: none;
    gap: 22px;
    padding: 0;
}


a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.menu {
    font-size: 18px;
    color: #E5E7EB;
}

/* second paragraph */

.first-content img {
    width: 500px;
    height: 215px;
    margin: 90px 12px;
}

.first-content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.first-content p {
    width: 350px;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}

.first-content h2 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.first-content button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 4px 16px;
    font-weight: 700;
    border: 0;
}

/* second part */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 46px;
}

.second-container h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    font-weight: 700;
}

.small-content img {
    height: 150px;
    width: auto;
    border: 3px solid #3882F6;
    border-radius: 15%;
}

.small-content {
    width: 150px;
    font-size: 18px;
}

.small-content p {
    margin: 0;
}

.second-container {
    margin-bottom: 30px;
}

/* third part */

.third-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
} 


#quote {
    
    font-size: 36px;
    color: #1F2937;
    width: 750px;
    margin-bottom: 0;
}

#name {
    margin-top: 0;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 25px;
    font-weight: 700;
}

/* fourth part */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-container .container {
    background-color: #3882F6;
    color:#E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: 70px;
    padding: 20px 50px;
    border-radius: 8px;
    font-size: 18px;
}

.fourth-container button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 4px 22px;
    font-weight: 700;
    border: 2px solid #E5E7EB;
}